.pagination .page-link {
    background-color: #553191;
    color: white;
    outline: none;
}
.active>.page-link {
    background-color: white;
    color: #553191;
    outline: none;
    border: none;
}
.pagination li:hover .page-link {
    background-color: white;
    color: #553191;
    outline: none;
    cursor: pointer;
}
.page-link:focus{
    box-shadow: none;
}